.item-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.bar {
    position: absolute;
    left: 375px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
    //background: rgba(0, 0, 0, 0.7);
    //color: #fff;
    //border-radius: 10px;
}
